.header__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161B22;
    height: 72px;
    padding-left: 20px;
    padding-right: 12px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

.header__info {
    display: flex;
    align-items: center;
    width: 556px;
    height: 100%;
    gap: 25px;
}

.header__logo_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}


.header__logo {
    background-color: #0E1117;
    border-radius: 8px;
}

.caption {
    font-family: "Noto Sans Georgian", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.4);
}

.title {
    font-family: "Noto Sans Georgian", sans-serif;
    font-weight: 600;
    font-size: 12px;
    line-height: 16px;
    color: #FFFFFF;
}

.headerSelectWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
}